@import "tailwindcss";

@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(34, 211, 238, 0.25);
  /* cyan-500/25 */
  color: #22d3ee;
  /* cyan-400 */
}


.bg-grid-white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}